.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.logo {
  height:60px;
  padding:15px;
}

.heading {
  background:#00897B;
  min-height:50px;
}

.headPart {
  height:80px;
  display:inline-block;
}
.headPart img {
  height:80px;
}

.actionBar {
  padding: 30px;
  text-align: center;
  background: #fff;
  box-shadow: 0px 5px 10px #bbb;
  margin-bottom: 30px;
}



.actionBar input {
  border:1px solid #ccc;
}

.actionBar input, .actionBar button {
  height:40px;
  margin-right:15px;
  font-size: 15px;
  padding-left:5px;
}
.actionBar button {
  border: none;
  background: #6A1B9A;
  color:#fff;
  padding:0px 15px;
  cursor: pointer;
  box-shadow: 3px 3px 5px #aaa;
}

button:disabled {
  background: #b5b5b5;
  cursor: not-allowed;
}

.canvasContainer {
  text-align:center;
  margin:0px auto;
  margin-bottom: 100px;
  box-shadow: 0px 0px 30px #999;
}